.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 850px) {
  main, .header_inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 565px){
  .header_logo {
    height: 40px;
    margin-right: 1em;
    vertical-align: top;
  }
  .header_title {
    font-weight: 300;
    font-size: 1.5em;
    color: #7d97ad;
  }
  .header_subtitle {
    font-weight: 100;
    font-size: 1em;
    color: #7d97ad;
  }
  .header {
    box-shadow: 0 2px 5px #7d97ad;
    min-height: 60px;
  }
}
